body {
   margin: 0px;
   padding: 0px;
   font-family: 'Arial', 'Helvetica Neue',  Helvetica, sans-serif;
   background-image: url("../images/texture.png");
   color: #777777;
}

header {
   background-color: white;
   padding: 0px;
   margin: 0px;
   display: flex;
   border-bottom: solid;
   border-width: 2px;
   border-color: #cccccc;
}

div {
   width: 960px;
}

#myName {
   float: left;
}

h1 {
   font-family: 'Georgia', 'Times New Roman', Times, serif;
   margin: 0px;
   padding: 0px;
}

#name {
   padding: 20px;
   background-color: #4aaaa5;
   color: white;
}

ul {
   padding: 0px;
   margin: 0px;
   float: right;
}

li {
   padding: 0px;
   margin: 0px;
   display: inline;
   vertical-align: middle;
}

.content {
   background-color: white;
   border: solid;
   border-width: 1px;
   border-color: #dddddd;
}

#headshot {
   float: left;
   width: 200px;
   height: 200px;
}

footer {
   border-top: solid;
   border-width: 3px;
   border-color: #4aaaa5;
}